/* ============ list ========================= */

.cc-viewport {
    padding-top: 10px;
    /* width: 50%; */
    /* margin: 0 auto; */
}

/* ============ list ========================= */

/* .note-list {
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
} */

/* container of table */
.cc-ml-main {
    height: 600px;
    display: flex;
}

/* .cc-ml-content {
    width: 20%;
} */

.cc-ml-tbl {
    /* for flex */
    flex: 0 0 700px;
    border: 1px dashed #00f;

    /* other */
    table-layout: fixed;
    border-spacing: 0px;
}

.cc-ml-tbl tr {
    height: 1px;
}

.cc-ml-tbl tr td {
    padding: 2px 0px 2px 0px;
    margin: 0px;
}

.cc-ml-content {
    /* for flex */
    flex: 1;
    border: 1px dashed #00f;
}

.cc-ml-tbl td div.cc-ml-tbl-title {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .cc-ml-tbl td div.cc-ml-tbl-cmd {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* ============ edit ========================= */

/* .note-edit {
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
} */