/* ============ list ========================= */
.viewport {
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
}

/* ============ list ========================= */
.note-list {
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
}

/* ============ edit ========================= */
.note-edit {
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
}